            </div>
	    </div>
    </div>
    <footer>
    <p class="text-center">Albumz &copy; 2016, All Rights Reserved</p>
    </footer>

    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>