<% include ../partials/header %>
	<h1>Login</h1>
	<form method="post" action="/users/login">
	  <div class="form-group">
	    <label>Email</label>
	    <input type="email" class="form-control" name="email" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label>Password</label>
	    <input type="password" class="form-control" name="password" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
<% include ../partials/footer %>