<% include ../partials/header %>
	<h1>Register</h1>
	<form method="post" action="/users/register">
	  <div class="form-group">
	    <label>First Name</label>
	    <input type="text" class="form-control" name="first_name" value="<%= user.first_name %>">
	  </div>
        <% for (var i=0; i < errors.length; i++) { %>
			<% if (errors[i].param == 'first_name') { %>
				<div class="alert alert-danger thin-alert"><%= errors[i].msg %></div>
			<% } %>
        <% } %>
	  <div class="form-group">
	    <label>Last Name</label>
	    <input type="text" class="form-control" name="last_name" value="<%= user.last_name %>">
	  </div>
	  <div class="form-group">
	    <label>Email</label>
	    <input type="email" class="form-control" name="email" value="<%= user.email %>" placeholder="Email">
	  </div>
        <% for (var i=0; i < errors.length; i++) { %>
			<% if (errors[i].param == 'email') { %>
				<div class="alert alert-danger thin-alert"><%= errors[i].msg %></div>
			<% } %>
        <% } %>
	  <div class="form-group">
	    <label>Password</label>
	    <input type="password" class="form-control" name="password" placeholder="Password">
	  </div>
        <% for (var i=0; i < errors.length; i++) { %>
			<% if (errors[i].param == 'password') { %>
				<div class="alert alert-danger thin-alert"><%= errors[i].msg %></div>
			<% } %>
        <% } %>
	  <div class="form-group">
	    <label>Confirm Password</label>
	    <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
	  </div>
        <% for (var i=0; i < errors.length; i++) { %>
			<% if (errors[i].param == 'password2') { %>
				<div class="alert alert-danger thin-alert"><%= errors[i].msg %></div>
			<% } %>
        <% } %>

	  <h3> Optional Info</h3>
	  <div class="form-group">
	    <label>Location</label>
	    <input type="text" class="form-control" name="location" value="<%= user.location %>">
	  </div>
	  <div class="form-group">
	    <label>Favorite Genres</label>
	    <input type="text" class="form-control" name="fav_genres" value="<%= user.fav_genres %>">
	  </div>
	  <div class="form-group">
	    <label>Favorite Artists</label>
	    <input type="text" class="form-control" name="fav_artists" value="<%= user.fav_artists %>">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
<% include ../partials/footer %>